*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container1{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.flex{
    display: flex;
}

.justify-content-between{
    justify-content: space-between;
}

.wrap{
    flex-wrap: wrap;
}

.relative{
    position: relative;
}

header{
    background-color: #FE6900;
    padding: 10px 0;
    box-sizing: border-box;
}

main{
    padding: 10px 0;
    box-sizing: border-box;
}

.lettere, a, i{
    padding-top: 1.5%;
    
}
.color-white, a{
    color: white;
}

.photo{
    width: 200px;
}

.box1{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.col-2{
    flex-basis: calc(100%/3 - 1%);
    padding: 5%
}


footer{
    background-color: #1A1A1A;
    padding: 30px 0;
    box-sizing: border-box;
}
.container2{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
.text-line-through{
    text-decoration-line: line-through;
}

.text-red{
    color: red;
}

#lables .lable{
    padding: 8px 12px;
    color: white;
}

.bg-red{
    background-color: red;
}

.bg-green{
    background-color: green;
}

.absolute{
    position: absolute;
}

.ab-botton-10{
    bottom: 10px;
}

.ab-top-10{
    top: 10px;
}

.ab-right-0{
    right: 0;
}

.heart{
    color: black;
    padding: 0 10px;
    background-color: white;
    right: 20%;
}